.pin {
    cursor: copy;
    box-sizing: border-box;

    position: relative;

    width: 0.5em;
    height: 0.5em;

    border-radius: 100%;

    background-color: var(--clr-surface-dark-a0);
    border: var(--border-width) solid currentColor;

    margin-block: 0.25em;

    grid-column: 1;
}

.pin[style-not] {
    background-color: var(--clr-surface-light-a0);
}
