.gate {
    --border-width: max(1px, 0.05em);

    box-sizing: border-box;

    color: var(--clr-foreground-a0);
    background-color: var(--clr-surface-a0);
    border: var(--border-width) solid currentColor;

    position: relative;
}

.symbol {
    position: relative;
    font-size: 1.3em;
    left: 0.5em;
    top: 0.3em;
}
