@import url("@fontsource-variable/inter");

:root {
  /** Theme primary colors */
  --clr-primary-dark-a0: #80ff00;
  --clr-primary-dark-a10: #93ff40;
  --clr-primary-dark-a20: #a5ff5f;
  --clr-primary-dark-a30: #b4ff79;
  --clr-primary-dark-a40: #c3ff91;
  --clr-primary-dark-a50: #d0ffa7;

  /** Theme surface colors */
  --clr-surface-dark-a0: #121212;
  --clr-surface-dark-a10: #282828;
  --clr-surface-dark-a20: #3f3f3f;
  --clr-surface-dark-a30: #575757;
  --clr-surface-dark-a40: #717171;
  --clr-surface-dark-a50: #8b8b8b;

  /** Theme foreground colors */
  --clr-foreground-dark-a0: #ffffff;
  --clr-foreground-dark-a10: #f0f0f0;
  --clr-foreground-dark-a20: #e1e1e1;
  --clr-foreground-dark-a30: #d3d3d3;
  --clr-foreground-dark-a40: #c5c5c5;
  --clr-foreground-dark-a50: #b6b6b6;

  /** Theme tonal surface colors */
  --clr-surface-tonal-dark-a0: #1e2617;
  --clr-surface-tonal-dark-a10: #333a2c;
  --clr-surface-tonal-dark-a20: #495043;
  --clr-surface-tonal-dark-a30: #61675b;
  --clr-surface-tonal-dark-a40: #797e74;
  --clr-surface-tonal-dark-a50: #92978e;

  /** Theme primary colors */
  --clr-primary-light-a0: #03a62a;
  --clr-primary-light-a10: #2da237;
  --clr-primary-light-a20: #409e42;
  --clr-primary-light-a30: #4d9a4c;
  --clr-primary-light-a40: #599656;
  --clr-primary-light-a50: #62925f;

  /** Theme surface colors */
  --clr-surface-light-a0: #ffffff;
  --clr-surface-light-a10: #f0f0f0;
  --clr-surface-light-a20: #e1e1e1;
  --clr-surface-light-a30: #d3d3d3;
  --clr-surface-light-a40: #c5c5c5;
  --clr-surface-light-a50: #b6b6b6;

  /** Theme foreground colors */
  --clr-foreground-light-a0: #121212;
  --clr-foreground-light-a10: #282828;
  --clr-foreground-light-a20: #3f3f3f;
  --clr-foreground-light-a30: #575757;
  --clr-foreground-light-a40: #717171;
  --clr-foreground-light-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-light-a0: #ebf7e9;
  --clr-surface-tonal-light-a10: #dfe9dd;
  --clr-surface-tonal-light-a20: #d2dbd1;
  --clr-surface-tonal-light-a30: #c6cec5;
  --clr-surface-tonal-light-a40: #bac0b9;
  --clr-surface-tonal-light-a50: #aeb3ad;

  --clr-red: #f1003c;
}

@media (prefers-color-scheme: light) {
  :root {
    /** Theme primary colors */
    --clr-primary-a0: var(--clr-primary-light-a0);
    --clr-primary-a10: var(--clr-primary-light-a10);
    --clr-primary-a20: var(--clr-primary-light-a20);
    --clr-primary-a30: var(--clr-primary-light-a30);
    --clr-primary-a40: var(--clr-primary-light-a40);
    --clr-primary-a50: var(--clr-primary-light-a50);

    /** Theme surface colors */
    --clr-surface-a0: var(--clr-surface-light-a0);
    --clr-surface-a10: var(--clr-surface-light-a10);
    --clr-surface-a20: var(--clr-surface-light-a20);
    --clr-surface-a30: var(--clr-surface-light-a30);
    --clr-surface-a40: var(--clr-surface-light-a40);
    --clr-surface-a50: var(--clr-surface-light-a50);

    /** Theme foreground colors */
    --clr-foreground-a0: var(--clr-foreground-light-a0);
    --clr-foreground-a10: var(--clr-foreground-light-a10);
    --clr-foreground-a20: var(--clr-foreground-light-a20);
    --clr-foreground-a30: var(--clr-foreground-light-a30);
    --clr-foreground-a40: var(--clr-foreground-light-a40);
    --clr-foreground-a50: var(--clr-foreground-light-a50);

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: var(--clr-surface-tonal-light-a0);
    --clr-surface-tonal-a10: var(--clr-surface-tonal-light-a10);
    --clr-surface-tonal-a20: var(--clr-surface-tonal-light-a20);
    --clr-surface-tonal-a30: var(--clr-surface-tonal-light-a30);
    --clr-surface-tonal-a40: var(--clr-surface-tonal-light-a40);
    --clr-surface-tonal-a50: var(--clr-surface-tonal-light-a50);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /** Theme primary colors */
    --clr-primary-a0: var(--clr-primary-dark-a0);
    --clr-primary-a10: var(--clr-primary-dark-a10);
    --clr-primary-a20: var(--clr-primary-dark-a20);
    --clr-primary-a30: var(--clr-primary-dark-a30);
    --clr-primary-a40: var(--clr-primary-dark-a40);
    --clr-primary-a50: var(--clr-primary-dark-a50);

    /** Theme surface colors */
    --clr-surface-a0: var(--clr-surface-dark-a0);
    --clr-surface-a10: var(--clr-surface-dark-a10);
    --clr-surface-a20: var(--clr-surface-dark-a20);
    --clr-surface-a30: var(--clr-surface-dark-a30);
    --clr-surface-a40: var(--clr-surface-dark-a40);
    --clr-surface-a50: var(--clr-surface-dark-a50);

    /** Theme foreground colors */
    --clr-foreground-a0: var(--clr-foreground-dark-a0);
    --clr-foreground-a10: var(--clr-foreground-dark-a10);
    --clr-foreground-a20: var(--clr-foreground-dark-a20);
    --clr-foreground-a30: var(--clr-foreground-dark-a30);
    --clr-foreground-a40: var(--clr-foreground-dark-a40);
    --clr-foreground-a50: var(--clr-foreground-dark-a50);

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: var(--clr-surface-tonal-dark-a0);
    --clr-surface-tonal-a10: var(--clr-surface-tonal-dark-a10);
    --clr-surface-tonal-a20: var(--clr-surface-tonal-dark-a20);
    --clr-surface-tonal-a30: var(--clr-surface-tonal-dark-a30);
    --clr-surface-tonal-a40: var(--clr-surface-tonal-dark-a40);
    --clr-surface-tonal-a50: var(--clr-surface-tonal-dark-a50);
  }
}

html,
body {
  user-select: none;
  width: 100%;
  height: 100%;

  overflow: hidden;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
