.app {
  height: 100%;
  width: 100%;

  background-color: var(--clr-surface-a0);
  color: var(--clr-foreground-a0);

  display: flex;
  flex-direction: column;
}

.view {
  height: 100%;
  width: 100%;
  display: flex;
}

/* title bar */
.app [style-titlebar] {
  border-bottom: 1px solid var(--clr-primary-a10);
}

/* app icon */
.app [style-titlebar-icon] {
  color: var(--clr-primary-a0);
}

/* Sidebar */
.view [style-sidebar-menu] {
  color: var(--clr-surface-a30);
}

.view [style-sidebar],
.view [style-sidebar-menu] {
  border-right: 1px solid var(--clr-primary-a10);
}

.view [style-sidebar-menuitem][style-active],
.view [style-sidebar-menuitem]:hover {
  color: var(--clr-primary-a0);
}

.view [style-sidebar-view] {
  --min-width: 10em;
  --max-width: 80vw;
}

/* Info Bar */
.app > :last-child {
  border-top: 1px solid var(--clr-primary-a10);
}
