.app {
  height: 100%;
  width: 100%;

  background-color: var(--clr-surface-a0);
  color: var(--clr-foreground-a0);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  display: flex;
  flex-direction: column;
}

.view {
  height: 100%;
  width: 100%;
  display: flex;
}

/* title bar */
.app > :first-child {
  border-bottom: 1px solid var(--clr-primary-a10);
}

/* app icon */
.app > :first-child > :first-child {
  color: var(--clr-primary-a0);
}

/* Sidebar */
.view > :nth-child(1) > :nth-child(1) {
  color: var(--clr-surface-a30);
}

.view > :nth-child(1) > :not(:last-child) {
  border-right: 1px solid var(--clr-primary-a10);

}

.view > :nth-child(1) > :nth-child(1) > div > [data-active],
.view > :nth-child(1) > :nth-child(1) > div > :hover {
  color: var(--clr-primary-a0);
}

/* Info Bar */
.app > :last-child {
  border-top: 1px solid var(--clr-primary-a10);
}
